# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Data folders (optional)
data/raw_data/*
data/processed_data/*
!data/raw_data/.gitkeep   # keep folder structure but ignore contents
!data/processed_data/.gitkeep

# Build / packaging
build/
dist/
*.egg-info/
